<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shop</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar" style="height: 60px; padding: 0px; background-color:#66a3ff;">
        <div class="collapse navbar-collapse justify-content-between" style="text-align: center; display:block;" id="navbar">
            <a class="navbar-brand shop-header" href="">Admin`s page</a>
        </div>
    </nav>

    <nav id="sidebar">
        <div class="sidebar-header" style="padding: 20px 0px 0px 20px;">
            <a class="tablinks" onclick="openTab(event, 'categories')">Categories</a>
        </div>

        <div class="sidebar-header" style="padding: 20px 0px 0px 20px;">
            <a class="tablinks" onclick="openTab(event, 'products')">Products</a>
        </div>

        <div class="sidebar-header" style="padding: 20px 0px 20px 20px;">
            <a class="tablinks" onclick="openTab(event, 'shop')">Shop</a>
        </div>
    </nav>

<script>

</script>
</body>
</html>