<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shop</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar" style="height: 60px; padding: 0px; background-color:#66a3ff;">
        <div class="collapse navbar-collapse justify-content-between" style="text-align: center; display:block;" id="navbar">
            <a class="navbar-brand shop-header" href="">Admin`s page</a>
        </div>
    </nav>

    <nav id="sidebar">
        <div class="sidebar-header" style="padding: 20px 0px 0px 20px;">
            <a class="tablinks" onclick="openTab(event, 'categories')">Categories</a>
        </div>

        <div class="sidebar-header" style="padding: 20px 0px 0px 20px;">
            <a class="tablinks" onclick="openTab(event, 'products')">Products</a>
        </div>

        <div class="sidebar-header" style="padding: 20px 0px 20px 20px;">
            <a class="tablinks" onclick="openTab(event, 'shop')">Shop</a>
        </div>
    </nav>

    <div class="navbar-default">

        <div id="categories" class="tabcontent">
            <div style="margin-left: 20px; margin-top: 20px; padding: 10px; background: #b3d1ff; float: left;">
                <div class="shop-path-text" style="text-align: center; margin-bottom: 15px;">Add new category</div>
                <div class="form-group">
                    <label style="margin-left: 10px;">Name</label>
                    <input class="form-control" type="text" placeholder="Name" id="newCategoryName" style="width: 200px; height: 40px; margin-left: 10px;">
                </div>
                <div class="form-group">
                    <label style="margin-left: 10px;">Parent</label>
                    <select class="form-control" id="newCategoryParent" style="width: 200px; height: 40px; margin-left: 10px;"></select>
                </div>
                <button class="btn btn-success" type="submit" style="margin-left: 10px; width: 120px;" id="newCategoryAdd">Add new</button>
            </div>
            <div style="margin-left: 20px; margin-top: 20px; padding: 10px; background: #b3d1ff; float: left;">
                <div class="shop-path-text" style="text-align: center; margin-bottom: 15px;">Update or remove category</div>
                <div class="form-group">
                    <label style="margin-left: 10px;">Current category</label>
                    <select class="form-control" id="curCategory" style="width: 200px; height: 40px; margin-left: 10px;"></select>
                </div>
                <div class="form-group">
                    <label style="margin-left: 10px;">Num</label>
                    <input class="form-control" type="text" placeholder="0" id="curCategoryNum" style="width: 200px; height: 40px; margin-left: 10px;" readonly>
                </div>
                <div class="form-group">
                    <label style="margin-left: 10px;">Name</label>
                    <input class="form-control" type="text" placeholder="Name" id="curCategoryName" style="width: 200px; height: 40px; margin-left: 10px;">
                </div>
                <button class="btn btn-warning" type="submit" style="margin-left: 10px; width: 120px;" id="curCategoryUpdate">Update</button>
                <button class="btn btn-danger" type="submit" style="margin-left: 10px; width: 120px;" id="curCategoryRemove">Remove</button>
            </div>
        </div>

    </div>

<script>

</script>
</body>
</html>